nav {
  position: absolute;
  background-color: rgba(20, 25, 25, 0.4);
  width: 100%;
  height: 70px;
}

nav .container {
  justify-content: space-between;
}

.logoBrancoLongo {
  height: 50px;
  margin-top: 10px;
  transition: transform 0.2s;
}

.logoBrancoLongo:hover {
  transform: rotate(-2deg);
}

ul {
  display: flex;
  font-family: 'gobold', sans-serif;
  justify-content: space-around;
  height: 70px;
  margin-left: 400px;
}

ul li {
  align-self: center;
  list-style: none;
}

ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0px 15px;
  font-size: 1.2em;
  transition: color 0.3s, font-size 0.2s;
  text-transform: uppercase;
}

ul li a:hover {
  color: #FB5900;
  font-size: 1.26em;
}

.btnCompreSeuIngresso {
  align-self: center;
  margin-bottom: 4px;
  padding: 15px 40px;
  background-color: #FB5900;
  border-radius: 7px;
  text-decoration: none;
  color: #fff;
  font-family: 'gobold', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.btnCompreSeuIngresso:hover {
  background-color: #CE4900;
}